
@import url(../externalstyle.css);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica","sans-serif";
    font-weight: 300;
    overflow-y: scroll;
    background-color: #f6dada;
    
}

.color{
    width: 25%;
    height: 60px;
    justify-content: space-around;
    padding: 10px;
    background-color: #e5cb96;
    justify-content: right;
    display: flex;

}

#a{ flex: 1 ; background:#bdaadb; color: #bdaadb; }
#b{ flex: 1 ; background:#ebbae5 ; color: #ebbae5; }
#c{ flex: 1 ; background:#94d2b0 ; color: #94d2b0; }
#d{ flex: 1 ; background:#eaa5a5 ; color: #eaa5a5; }


.cont{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 1200px;
    flex-direction: column;
    margin: 20px auto;
    padding: 0 20px;
}

.cont .buttons .btn{
    padding: 0 10px;
    display: inline-flex;
    background: #ddd;
    color: #11231c;
    margin-left: 10px;
    cursor: pointer;
}

.cont .buttons .btn:nth-child(2){
    font-size: 1.5em;
}
.cont .buttons .btn:nth-child(3){
    font-size: 2em;
}

.cont .display-containe{
    transition: 0.5s;
}

.cont .buttons .btn:hover{
    background-color: #afcc9b;
}

.content{
    position: relative;
    top: 44px;
}
input{
    display: none;
}
.container{
    width: 100%;
    text-align: center;
}
h1{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
}
h1::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: crimson;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}
.top-content{
    background-color: rgb(243, 243, 243);
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
}
h3{
    height: 100px;
    background-color: rgb(221,221,221);
    line-height: 60px;
    padding: 0 50px;
    color: rgb(103, 99, 99);
}
label{
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height: 60px;
    font-size: 18px;
    color: gray;
    cursor: pointer;
    transition: color .5s;
}
label:hover{
    color: black;
}
.photo-gallery{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.pic{
    position: relative;
    height: 230px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    transition: .5s;
}
.pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}
.pic::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}
.pic:after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0;
    background-color: transparent;
    transition: .3s;
}
.pic:hover::after{
    height: 100%;
}
.pic:hover::before{
    margin-top: 0;
    opacity: 1;
}
.movies{
    position: relative;
     float:left; 
    margin: 20px;
}
.movies img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}
.movies div{
    position: absolute;
    opacity:0;
    top:0;
    left:0;
    border-radius: 10px;
    /* width: 280px;
    height:180px; */
    min-width: 287px;
    min-height:230px;
    max-width: 287px;
    max-height:230px;
    background-color: rgba(0, 0, 0, 0.641);
    transition: 0.4s;
}
.movies div p{
    color: rgb(255, 255, 255);
    position: relative;
    top:auto;
    bottom:0;
    margin: 10px;
}
.movies:hover div{
    opacity: 1;
}
.movies:hover {
    transform: scale(1.1);
}

.tvSeries{
    position: relative;
     float:left; 
    margin: 20px;
}
.tvSeries img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}
.tvSeries div{
    position: absolute;
    opacity:0;
    top:0;
    left:0;
    border-radius: 10px;
    /* width: 280px;
    height:180px; */
    min-width: 287px;
    min-height:230px;
    max-width: 287px;
    max-height:230px;
    background-color: rgba(0, 0, 0, 0.641);
    transition: 0.4s;
}
.tvSeries div p{
    color: rgb(255, 255, 255);
    position: relative;
    top:auto;
    bottom:0;
    margin: 10px;
}
.tvSeries:hover div{
    opacity: 1;
}
.tvSeries:hover {
    transform: scale(1.1);
}

.games{
    position: relative;
     float:left; 
    margin: 20px;
}
.games img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}
.games div{
    position: absolute;
    opacity:0;
    top:0;
    left:0;
    border-radius: 10px;
    /* width: 280px;
    height:180px; */
    min-width: 287px;
    min-height:230px;
    max-width: 287px;
    max-height:230px;
    background-color: rgba(0, 0, 0, 0.641);
    transition: 0.4s;
}
.games div p{
    color: rgb(255, 255, 255);
    position: relative;
    top:auto;
    bottom:0;
    margin: 10px;
}
.games:hover div{
    opacity: 1;
}
.games:hover {
    transform: scale(1.1);
}

.events{
    position: relative;
     float:left; 
    margin: 20px;
}
.events img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}
.events div{
    position: absolute;
    opacity:0;
    top:0;
    left:0;
    border-radius: 10px;
    /* width: 280px;
    height:200px; */
    min-width: 287px;
    min-height:230px;
    max-width: 287px;
    max-height:230px;
    background-color: rgba(0, 0, 0, 0.641);
    transition: 0.4s;
}
.events div p{
    color: rgb(255, 255, 255);
    position: relative;
    top:auto;
    bottom:0;
    margin: 10px;
}
.events:hover div{
    opacity: 1;
}
.events:hover {
    transform: scale(1.1);
}

#check1:checked ~ .container .photo-gallery .pic{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}
#check2:checked ~ .container .photo-gallery .movies{
    transform: scale(1);
    opacity: 1;
    position: relative;        
}
#check2:checked ~ .container .photo-gallery .tvSeries,  
#check2:checked ~ .container .photo-gallery .games,
#check2:checked ~ .container .photo-gallery .events{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;
}

#check3:checked ~ .container .photo-gallery .tvSeries{
    transform: scale(1);
    opacity: 1;
    position: relative;        
}
#check3:checked ~ .container .photo-gallery .movies,
#check3:checked ~ .container .photo-gallery .games,
#check3:checked ~ .container .photo-gallery .events{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;
}

#check4:checked ~ .container .photo-gallery .games{
    transform: scale(1);
    opacity: 1;
    position: relative;        
}
#check4:checked ~ .container .photo-gallery .movies,
#check4:checked ~ .container .photo-gallery .tvSeries,
#check4:checked ~ .container .photo-gallery .events{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;
}

#check5:checked ~ .container .photo-gallery .events{
    transform: scale(1);
    opacity: 1;
    position: relative;        
}
#check5:checked ~ .container .photo-gallery .movies,
#check5:checked ~ .container .photo-gallery .tvSeries,
#check5:checked ~ .container .photo-gallery .games{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;
}

.page_editor a {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 50;
    padding: 1%;
    margin: 1%;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.36);
    color: white
}

.page_editor a:link, .page_editor a:visited {
    color: white;
    text-decoration: none;
}

.page_editor a:hover {
    background-color: black;
}